<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Tenpower" connectionString="Password=BT15150232263;Persist Security Info=True;User ID=sa;Initial Catalog=Tenpower;Data Source=127.0.0.1\HTT" providerName="mssql"/>
  </connectionStrings>
</configuration>